.link {
  stroke: #000;
  stroke-opacity: .05;
}

.node {
  fill: #000;
  stroke: #fff;
  stroke-width: .2px;
}

.node text {
  pointer-events: none;
  font: 14px sans-serif;
  fill: #000;
  font-weight: bolder;
}

.inbl {
    display: inline-block;
    vertical-align: top;
}
.container {
    white-space: nowrap;
}

.force_table_padding {
  text-align: center;
}
