---
layout: default
permalink: projects.html
---

{% include bootstrap.html %}

{% include nav.html %}


<h3 class="posts">Projects</h3>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="allmangas.html">
                        <img src="../img/mangaschart_tumbnail.png" alt="Park">
                    </a>
                    <div class="caption">
                        <h3 class="section-heading" style="color:#CC6699;">Best Selling Mangas between 1948 to 2012</h3>
                        <p>Performed data scraping on the 124 best selling mangas between 1948 to 2012 using BeautifulSoup in Python.<br>
                           Built a simple scatter plot using D3.js.<br>
                           Built an interactive bubble chart with D3.js with external img from Mangapark.<br>
                        </p>
                        <p style="color:#CC6699;">#Python #D3.js</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="internships.html">
                        <img src="../img/internship_s4.png" alt="Bridge">
                    </a>
                    <div class="caption">
                        <h3 class="section-heading" style="color:#CC6699;">Software Internships Trends at Waterloo between 2010 to 2013</h3>
                        <p>
                           Performed data preparation on 2392 students and 3560 companies between 2010 to 2013 using Python (pandas).<br>
                           Built some quick visualizations of the data using R and Excel.<br>
                           Built an interactive force layout chart with D3.js.<br>
                           Collected company information from Glassdoor using Python (Selenium, Requests).<br>
                           Use GLM to predict which companies to apply based on each company's score.<br>
                        </p>
                        <p style="color:#CC6699;">#Python #R #Excel #D3.js</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/cc3k.png">
                        <img src="../img/cc3k.png" alt="Tunnel">
                    </a>
                    <div class="caption">
                        <h3 class="section-heading" style="color:#CC6699;">ChamberCrawler3000 Linux Game</h3>
                        <p>
                          Project completed for CS246: Object Oriented Programming course at University of Waterloo in 2017.<br>
                          Teammates: Ben Koczwara and Amy Sun.
                        </p>
                        <p style="color:#CC6699;">#C++ #OOP</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="weather2017.html">
                        <img src="../img/weather_thumbnail.png" alt="Tunnel">
                    </a>
                    <div class="caption">
                        <h3 class="section-heading" style="color:#CC6699;">Top 20 Cities' 2017 Weather</h3>
                        <p>
                          Data visualization to compare the temperature in Celsius and Fahrenheit for 20 of the major cities across the globe.
                        </p>
                        <p style="color:#CC6699;">#Python #D3.js</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
